@import 'modules/variables';

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.floatingContainer {
  background-color: $background-color;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color $transition-duration, box-shadow $transition-duration;
  transition-timing-function: $transition-timing-function;
  overflow: hidden;

  &.docked {
    border-color: $border-color;
  }

  &.floating {
    box-shadow: 1px 1px 3px 1px $shadow-color;
  }
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.formButton {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  width: 42px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
}

.searchInput {
  flex-grow: 1;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
  outline: none;
  line-height: 18px;
  padding: 12px 0;
  color: $font-color;
}
