$background-color: #fff;
$background-color-dark: #333;
$accent-color: #ba2860;

$font-color: rgba(0, 0, 0, 0.8);
$font-color-light: rgba(0, 0, 0, 0.6);
$font-color-dark: rgba(255, 255, 255, 0.8);

$shadow-color: rgba(0, 0, 0, 0.3);

$separator-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.4);

$active-bg-color: rgba(0, 0, 0, 0.1);
