@import 'colors';

$font-family: 'Roboto', Helvetica, Arial, sans-serif;

$font-weight: 400;
$font-weight-bold: 500;
$font-weight-light: 300;

$font-size-larger: 1.3em;
$font-size-large: 1.2em;
$font-size-medium: 1.1em;
$font-size-normal: 1em;
$font-size-small: 0.9em;
$font-size-smaller: 0.8em;

$transition-duration: 450ms;
$transition-timing-function: ease;
