$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$font-color: rgba(0, 0, 0, 0.7);
$font-light-color: rgba(0, 0, 0, 0.5);

$background-color: #fff;

$transition-duration: 450ms;
$transition-timing-function: ease;

$shadow-color: rgba(0, 0, 0, 0.3);

$separator-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.4);

$active-bg-color: rgba(0, 0, 0, 0.1);
