@import 'modules/variables';
@import 'modules/mixins';

.header {
  flex-grow: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px 8px 8px;
  border-bottom: 1px solid $separator-color;
}

.headerContent {
  position: relative;
  text-align: center;

  & > .title {
    font-weight: $font-weight-bold;
    margin: 0;
  }

  & > .number {
    display: block;
    color: $font-color-light;
    font-size: $font-size-small;
  }
}

.puller {
  position: relative;
  text-align: center;
  padding-bottom: 4px;

  & > span {
    display: block;
    margin: 4px auto;
    background-color: $border-color;
    width: 32px;
    height: 4px;
    border-radius: 2px;
  }
}

.actions {
  padding-top: 8px;
  text-align: center;
}

.actionItem {
  @include clickable;
  font-size: $font-size-small;
  display: inline-block;
  text-align: center;
  color: $accent-color;
  padding: 2px;
  border: 1px solid $accent-color;
  border-radius: 16px;

  &.active {
    background-color: $accent-color;
    color: $font-color-dark;
  }
}

.actionIcon {
  line-height: 24px;
  padding: 8px;
}

.actionText {
  padding-right: 8px;
}
