@import 'modules/variables';

.container {
  p {
    margin: 0;
    padding-bottom: 8px;
  }
}

.header,
.body {
  padding: 8px;
}

.header {
  margin-top: 8px;
}

.title {
  margin: 0;
  text-align: center;
  color: $accent-color;
}

.version {
  font-weight: $font-weight-light;
  text-align: center;
}

.body {
  h1,
  h2,
  h3 {
    color: $accent-color;
    font-size: $font-size-normal;
  }
}

.linkList {
  margin-top: 8px;
}

.linkHeader {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.link {
  display: flex;
  padding: 4px 0;
}

.linkIcon {
  color: $accent-color;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.linkTitle {
  display: block;
  line-height: 24px;
  margin-left: 8px;
  font-size: $font-size-small;
}
