@import 'modules/variables';
@import 'modules/mixins';

.item {
  display: flex;
  border-bottom: 1px solid $separator-color;
  flex-direction: row;
  align-items: center;
}

.details {
  @include clickable;
  box-sizing: border-box;
  padding: 12px;
  height: 56px;
  flex-grow: 1;
}

.title {
  font-weight: $font-weight;
  font-size: $font-size-normal;
  margin: 0;
}

.number {
  color: $font-color-light;
  font-weight: $font-weight-light;
  font-size: $font-size-small;
}

.action {
  @include clickable;
  color: $font-color-light;
  font-size: $font-size-large;
  width: 56px;
  line-height: 56px;
  text-align: center;
}
