.searchBoxContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  background-color: transparent;
  transition: background-color 320ms;
  transition-timing-function: ease-in-out;
}

.searchBoxContainer.focused {
  background-color: #fff;
}

.searchResultsContainer {
  background-color: #fff;
  position: absolute;
  box-sizing: border-box;

  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 58px;
  z-index: 1;

  visibility: hidden;
  transition: top 320ms, visibility 0s linear 350ms;
  transition-timing-function: ease;
}

.searchResultsContainer.focused {
  top: 0%;
  visibility: visible;
  transition: top 320ms, visibility 0s linear 0s;
}
