@import 'modules/variables';
@import 'modules/mixins';

.container {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  padding: 8px;
  z-index: 100;
  visibility: hidden;

  transition: opacity $transition-duration, visibility 0s linear $transition-duration;
  transition-timing-function: $transition-timing-function;

  &.shown {
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-duration, visibility 0s;
  }
}

.content {
  display: flex;
  color: $font-color-dark;
  background-color: $background-color-dark;
  box-shadow: 1px 1px 3px 1px $shadow-color;
  border-radius: 4px;
  flex-direction: row;
}

.label {
  padding: 12px;
  flex: 1;
}

.action {
  @include clickable;
  display: flex;
  padding: 8px 16px;
  color: $accent-color;
  font-weight: $font-weight-bold;
  align-items: center;
}
