a {
  color: inherit;
  text-decoration: none;
}

:global(.booth-map) {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

:global(.form-fields) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14pt;
  z-index: 10;
}
