<%
const cdnAssets = [
  'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js',
  'https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js',
  'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js',
  'https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.3/rxjs.umd.min.js',
  'https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js',
  'https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js',
];
%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://storage.googleapis.com/">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" onload="this.onload=null;this.rel='stylesheet'">
  <title>Comic Frontier Booth Map</title>
  <link as="script" href="/js/modernizr-custom.js" rel="preload"><% cdnAssets.forEach(url => { %>
  <link as="script" href="<%= url %>" crossorigin="anonymous" rel="preload"><% }) %>
</head>

<body>
  <div id="app">Loading...</div>
  <div id="stage"></div>
  <script src="/js/modernizr-custom.js"></script><% cdnAssets.forEach(url => { %>
  <script src="<%= url %>" crossorigin="anonymous"></script><% }) %>
</body>

</html>
