<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://storage.googleapis.com/">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
  <link rel="dns-prefetch" href="https://unpkg.com/">
  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" onload="this.onload=null;this.rel='stylesheet';">
  <title>Comic Frontier Booth Map</title>
</head>

<body>
  <div id="app">Loading...</div>
  <div id="stage"></div>
  <script src="/js/modernizr-custom.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.9/core.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/localforage@1.7.3/dist/localforage.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/rxjs@6.5.3/bundles/rxjs.umd.min.js" crossorigin="anonymous"></script>
</body>

</html>
