@import 'modules/variables';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 11pt;
  color: $font-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-large;
}

#stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: -1;
}

.overlay-generic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $transition-duration, visibility 0s linear $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.overlay-visible {
  visibility: visible;
  transition: opacity $transition-duration, visibility 0s linear 0s;
  pointer-events: inherit;
}
